body {
    background: #0d0d12;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
}

header {
    text-align: center;
    padding: 15px;
    background: #11121A;
    box-shadow: 0 2px 4px #0005;
}

h1 {
    margin: 5px 0 15px;
    font-size: 32px;
    color: #00d4ff;
}

#searchInput {
    width: 80%;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 16px;
    border-radius: 8px;
    outline: none;
    border: none;
}

nav {
    margin-bottom: 15px;
}

.sec-btn {
    padding: 8px 15px;
    background: #222;
    border: none;
    color: white;
    margin: 3px;
    border-radius: 6px;
    cursor: pointer;
}

.sec-btn.active {
    background: #00d4ff;
    color: black;
}

#moviesGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px,1fr));
    gap: 15px;
    padding: 15px;
}

.card {
    background: #1b1b23;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    transition: .2s;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    border-radius: 8px;
}

.title-row {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
}

.badge {
    background: #00d4ff;
    padding: 3px 6px;
    border-radius: 4px;
    color: black;
}

.pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 15px;
}

.pagination button {
    padding: 8px 15px;
    background: #00d4ff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

#loader {
    text-align: center;
    padding: 15px;
    font-size: 18px;
}

.hidden {
    display: none;
}


/* MODAL */
.modal {
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background: #000a;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    width: 90%;
    max-width: 900px;
    background: #17171f;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    max-height: 90vh;
    overflow-y: auto;
}

#modalClose {
    position: absolute;
    right: 15px;
    top: 10px;
    cursor: pointer;
    font-size: 20px;
}

.modal-top {
    display: flex;
    gap: 20px;
}

.modal-top img {
    width: 180px;
    border-radius: 10px;
}

.cast-box {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px,1fr));
    gap: 10px;
}

.cast-box img {
    width: 100%;
    border-radius: 6px;
}

.video-box iframe,
video {
    width: 100%;
    margin-top: 10px;
    border-radius: 10px;
}

.download-box .btn {
    display: block;
    text-align: center;
    padding: 10px;
    margin: 6px 0;
    border-radius: 6px;
    background: #00d4ff;
    color: black;
    text-decoration: none;
    font-weight: bold;
}